<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tubes Bentar</title>
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Reverse Image Search</h1>
    </header>
    <main>
      <div class="upload">
        <section class="kiri">
          <p><img id="output" width="632" height="270" /></p>
        </section>
        <section class="kanan">
          <form method="POST" enctype="multipart/form-data" action="/image">
            <input
              id="inp"
              type="file"
              accept="image/*"
              onchange="loadFile(event)"
              name="image"
            />

            <section>
              <label
                ><input
                  id="color"
                  type="radio"
                  name="color-texture"
                  value="color"
                />
                color</label
              >
              <label
                ><input
                  id="texture"
                  type="radio"
                  name="color-texture"
                  value="texture"
                />
                texture</label
              >
              <input type="submit" value="Upload"></input>
            </section>
          </form>
        </section>
      </div>
      <div class="dataset" >
        <form method="POST" enctype="multipart/form-data" action="/dataset">
          <input type="file" multiple name="dataset"></input>
          <input type="submit" value="Upload"></input>
        </form>
      </div>
    </main>
  </body>
  <script>
    var loadFile = function (event) {
      var image = document.getElementById("output");
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
</html>
