<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tubes Bentar</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <form
      id="form1"
      enctype="multipart/form-data"
      method="POST"
      action="/upload"
    >
      <input type="file" name="dataset" multiple />

      <input type="file" name="image" />
      <input type="radio" name="choice" value="color" /> Color
      <input type="radio" name="choice" value="texture" />
      Texture
      <input type="submit" value="Submit" />
    </form>
    <div id="imageContainer"></div>
    <script>
      var startTime = performance.now();

      fetch("/color", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          var endTime = performance.now();
          var runtime = endTime - startTime;

          // Get the image container
          var container = document.getElementById("imageContainer");

          // Create an img element for each image URL
          data.forEach(function (item) {
            var img = document.createElement("img");
            img.src = "/static/dataset/" + item.filename + ".jpg";
            container.appendChild(img);
          });

          console.log("API fetch runtime: " + runtime + " milliseconds");
        })
        .catch((error) => {
          // Handle the error
          console.error("Error:", error);
        });
    </script>
  </body>
</html>
